* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  transform: scale(1.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #5c5c5e, #1d1c1c);
  color: white;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
