* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #5c5c5e, #1d1c1c);
  color: white;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.memory-game {
  transform: scale(0.7);
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(3, 150px);
  gap: 15px;
  perspective: 1000px;
  background: rgba(42, 42, 42, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.memory-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  background-color: #454444;
  border-radius: 5px;
  cursor: pointer;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  object-fit: contain;
}

.memory-card .front-face {
  transform: rotateY(180deg);
}

.memory-card .back-face {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.matched {
  pointer-events: none;
  opacity: 0.7;
}

/* Win Screen */
.win-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.win-screen h2 {
  margin-bottom: 10px;
}

.win-screen button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  color: black;
}

.win-screen button:hover {
  background: lightgray;
}

.memory-match-back-button {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 300px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.memory-match-back-button:hover {
  background-color: rgba(220, 215, 215, 0.8);
  transform: scale(0.85);
}

.memory-layout {
  display: flex;
  align-items: center;   /* vertically centers the button next to the grid */
  justify-content: center;
  gap: 40px;             /* space between grid and button */
}

