# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IDE & editors
.idea/

#dependencies
node_modules/

#irrelevant JS files
webpack.common.js
webpack.config.dev.js
webpack.confiig.prod.js
